<table class="table" style="max-width: 600px; margin: 0 auto">
    <thead class="thead-dark">
        <th colspan="2">Company details</th>
    </thead>
    <tr>
        <th>Company Name</th>
        <td>{{settings.name}}</td>
    </tr>
    <tr>
        <th>Tax Number</th>
        <td>{{settings.taxNumber}}</td>
    </tr>   
    <tr>
        <th>Street Address</th>
        <td>{{settings.streetAddress}}</td>
    </tr>   
    <tr>
        <th>City</th>
        <td>{{settings.city}}</td>
    </tr>   
    <tr>
        <th>Zip Code</th>
        <td>{{settings.zipCode}}</td>
    </tr>   
    <tr>
        <th>Phone Number</th>
        <td>{{settings.phoneNumber}}</td>
    </tr>   
</table>>
