<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
      <th scope="col">Netto</th>
      <th scope="col">Tax</th>
      <th scope="col">Brutto</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <app-single-position
      *ngFor="let position of positions; let index = index"
      [position]='position'
      [lp]='index+1'
      (positionChanged)='handlePositionChanged($event)'
      (itemRemoved)='removePosition($event)'
    ></app-single-position>
  </tbody>
</table>
<div class="invoice-positions__actions">
  <button (click)="addPosition()" type="button" class="btn btn-dark invoice-positions__action">
    Add new item
  </button>
</div>