<div>
    <table class="table">
        <thead class="thead-dark">
            <th>Seller</th>
            <th>{{settings.name}}</th>
        </thead>
        <tr><th>Tax Number</th><td>{{settings.taxNumber}}</td></tr>
        <tr><th>Street Address</th><td>{{settings.streetAddress}}</td></tr>
        <tr><th>City</th><td>{{settings.city}}</td></tr>
        <tr><th>Zip Code</th><td>{{settings.zipCode}}</td></tr>
        <tr><th>Phone Number</th><td>{{settings.phoneNumber}}</td></tr>
    </table>
</div>

<div>
    <table class="table">
        <thead class="thead-dark">
            <th>Buyer</th>
            <th>
                <select class="form-control" (change)="selectClient($event.target.value)">
                    <option value="" disabled selected>select client</option>
                    <option *ngFor="let customer of customers" value="{{customer.id}}">{{customer.name}}</option>
                </select>
            </th>
        </thead>
        <tr><th>Name</th><td>{{client?.name}}</td></tr>
        <tr><th>Tax Number</th><td>{{client?.taxNumber}}</td></tr>
        <tr><th>Street Address</th><td>{{client?.streetAddress}}</td></tr>
        <tr><th>City</th><td>{{client?.city}}</td></tr>
        <tr><th>Zip Code</th><td>{{client?.zipCode}}</td></tr>
        <tr><th>Phone Number</th><td>{{client?.phoneNumber}}</td></tr>
    </table>
</div>

